name: Stream Metadata Monitor
version: 2.0.0
slug: stream_monitor
description: Monitoruje metadane streamów odtwarzanych przez wskazane media_player w Home Assistant
startup: services
boot: auto
arch:
  - amd64
  - armv7
  - aarch64

options:
  interval: 5
  timestamps: true

  # Lista encji media_player, które mają być monitorowane
  players:
    - media_player.salon
    - media_player.kuchnia

  # WebSocket API Home Assistant
  ha_url: "ws://supervisor/core/api/websocket"
  ha_token: ""

schema:
  interval: int
  timestamps: bool

  players:
    - str

  ha_url: str
  ha_token: str

map:
  - config:rw
