name: Stream Metadata Monitor
version: 1.4.0
slug: stream_monitor
url: https://github.com/CrazyMike249/ha-addons/tree/main/stream_monitor
description: Simple async stream metadata monitor with AAC/OGG/MP3, MQTT and colored logs
startup: services
boot: auto
arch:
  - amd64
  - armv7
  - aarch64

options:
  interval: 5
  timestamps: true

  # Lista streamów
  streams:
    - name: Radio 357
      url: "https://stream.rcs.revma.com/ye5kghkgcm0uv.aac"
      type: aac
      
    - name: "Radio Nowy Świat"
      url: "https://stream.nowyswiat.online/aac"
      type: "aac"

    - name: "Radio Baobab"
      url: "https://stream.radiobaobab.pl/radiobaobab.ogg"
      type: "ogg"

  # MQTT (opcjonalne)
  mqtt_enabled: false
  mqtt_host: "homeassistant.local"
  mqtt_port: 1883
  mqtt_topic: "radio/metadata"

schema:
  interval: int
  timestamps: bool

  streams:
    - name: str
      url: str
      type: str?

  mqtt_enabled: bool
  mqtt_host: str
  mqtt_port: int
  mqtt_topic: str

map:
  - config:rw