name: Stream Metadata Monitor
version: 1.4.1
slug: stream_monitor
description: Simple async stream metadata monitor with AAC/OGG/MP3, MQTT and colored logs
startup: services
boot: auto
arch:
  - amd64
  - armv7
  - aarch64

options:
  interval: 5
  timestamps: true

  streams:
    - name: Radio357
      url: "https://stream.rcs.revma.com/ye5kghkgcm0uv.aac"
      type: aac

    - name: RMF_FM
      url: "http://31.192.216.10:8000/rmf_fm"
      type: mp3

    - name: Trojka
      url: "http://stream3.polskieradio.pl:8904/"
      type: ogg

  mqtt_enabled: true
  mqtt_host: "homeassistant.local"
  mqtt_port: 1883
  mqtt_user: "majkel"
  mqtt_pass: "TWOJE_HASLO"
  mqtt_topic: "radio/metadata"

schema:
  interval: int
  timestamps: bool

  streams:
    - name: str
      url: str
      type: str?

  mqtt_enabled: bool
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_pass: str
  mqtt_topic: str

map:
  - config:rw
